{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ noticia.titulo }} - Universo Geek</title>
    <link rel="stylesheet" href="{% static 'noticias/css/style.css' %}">
</head>
<body>
    <header class="navbar">
    <div class="logo">
        <a href="{% url 'lista_noticias' %}" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
            {% if site_config and site_config.banner %}
                <img src="{{ site_config.banner.url }}" alt="Universo Geek Banner" style="height: 40px;">
            {% endif %}
            <h1>Universo Geek</h1>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'lista_noticias' %}">Home</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contatos</a></li>
        </ul>
    </nav>
</header>



    <!-- Conteúdo principal -->
    <main class="noticia-detalhe">
        <h1>{{ noticia.titulo_detalhe }}</h1>
        
        {% if noticia.subtitulo %}
            <h2 class="subtitulo">{{ noticia.subtitulo }}</h2>
        {% endif %}

        {% if noticia.imagem %}
            <img src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo_detalhe }}">
        {% endif %}

        <p>{{ noticia.conteudo|linebreaks }}</p>
    </main>


    <!-- Rodapé -->
    <footer>
        <p>Copyright © 2025 Universo Geek. Todos os direitos reservados.</p>
        <p>CNPJ: 12.123.456/0000-12</p>
    </footer>
</body>
</html>
